---
import {TAGS} from "./TAGS.astro"
import AchievementItem from "./AchievementItem.astro"
import { useTranslations, getLangFromUrl } from '../utils/i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const achievements = [
    {
        title: t.achievements.awsDataEngineering.title,
        subtitle: t.achievements.awsDataEngineering.subtitle,
        date: t.achievements.awsDataEngineering.date,
        description: t.achievements.awsDataEngineering.description,
        image: "/achievements/awsCertificate.webp",
        alt: "Certificación AWS Academy Data Engineering",
        tags: [TAGS.aws],
        imageClass: "",
        externalLink:"https://www.credly.com/badges/4d0622da-437d-4893-a262-1562282cd203/linked_in_profile"
    },
    {
        title: t.achievements.c1ProficiencyEspol.title,
        subtitle: t.achievements.c1ProficiencyEspol.subtitle,
        date: t.achievements.c1ProficiencyEspol.date,
        description: t.achievements.c1ProficiencyEspol.description,
        image: "/achievements/c1English.webp",
        alt: "English C1 proficiency certification",
        tags: [TAGS.aws],
        imageClass: "",
        externalLink:"https://drive.google.com/file/d/1Bai1XLZMlBIkFFV2HnpuOXr2ZV-klNMf/view?usp=drive_link"
    },    
    {
        title: t.achievements.mentoring.title,
        subtitle: t.achievements.mentoring.subtitle,
        date: t.achievements.mentoring.date,
        description: t.achievements.mentoring.description,
        image: "/achievements/mentoring.webp",
        alt: "Mentoring program ESPOL",
        tags: [TAGS.aws],
        imageClass: "",
        externalLink:"https://www.acreditta.com/credential/439333a2-bb43-4ed8-8edc-5b22f716c3c6?utm_source=linkedin_profile&resource_type=badge&resource=439333a2-bb43-4ed8-8edc-5b22f716c3c6"
    },    
    {
        title: t.achievements.advancedSwift.title,
        subtitle: t.achievements.advancedSwift.subtitle,
        date: t.achievements.advancedSwift.date,
        description: t.achievements.advancedSwift.description,
        image: "/achievements/advancedSwiftMeta.webp",
        alt: "Advanced Programming in Swift",
        tags: [TAGS.aws],
        imageClass: "",
        externalLink:"https://www.coursera.org/account/accomplishments/verify/ZYC0YKSMQCPR"
    },    
    {
        title: t.achievements.kotlinJava.title,
        subtitle: t.achievements.kotlinJava.subtitle,
        date: t.achievements.kotlinJava.date,
        description: t.achievements.kotlinJava.description,
        image: "/achievements/kotlinJavaJetbrains.webp",
        alt: "Kotlin for Java Developers certificate",
        tags: [TAGS.aws],
        imageClass: "",
        externalLink:"https://www.coursera.org/account/accomplishments/verify/MK4HUMU2B80W"
    },
    {
        title: t.achievements.foundationAIMicrosoft.title,
        subtitle: t.achievements.foundationAIMicrosoft.subtitle,
        date: t.achievements.foundationAIMicrosoft.date,
        description: t.achievements.foundationAIMicrosoft.description,
        image: "/achievements/foundations_ai_microsoft.webp",
        alt: "Foundation AI Microsoft certificate",
        tags: [TAGS.azure],
        imageClass: "",
        externalLink:"https://coursera.org/verify/FJJD2AC7WJF6"
    },
    {
        title: t.achievements.createSwiftUI.title,
        subtitle: t.achievements.createSwiftUI.subtitle,
        date: t.achievements.createSwiftUI.date,
        description: t.achievements.createSwiftUI.description,
        image: "/achievements/swiftUIMeta.webp",
        alt: "Create the User Interface with SwiftUI certificate",
        tags: [TAGS.aws],
        imageClass: "",
        externalLink:"https://www.coursera.org/account/accomplishments/verify/LTAV3L1BROD3"
    },
    {
        title: t.achievements.postgressPlatzi.title,
        subtitle: t.achievements.postgressPlatzi.subtitle,
        date: t.achievements.postgressPlatzi.date,
        description: t.achievements.postgressPlatzi.description,
        image: "/achievements/postgress_platzi.webp",
        alt: "PostgreSQL certificate",
        tags: [TAGS.aws],
        imageClass: "",
        externalLink:"https://platzi.com/p/ricardoduvalmolinacoronel/curso/1480-postgresql/diploma/detalle/"
    },
    {
        title: t.achievements.springPlatzi.title,
        subtitle: t.achievements.springPlatzi.subtitle,
        date: t.achievements.springPlatzi.date,
        description: t.achievements.springPlatzi.description,
        image: "/achievements/spring_platzi.webp",
        alt: "Java Spring certificate",
        tags: [TAGS.aws],
        imageClass: "",
        externalLink:"https://platzi.com/p/ricardoduvalmolinacoronel/curso/1996-java-spring/diploma/detalle/"
    },
    {
        title: t.achievements.jpaPlatzi.title,
        subtitle: t.achievements.jpaPlatzi.subtitle,
        date: t.achievements.jpaPlatzi.date,
        description: t.achievements.jpaPlatzi.description,
        image: "/achievements/jpa_platzi.webp",
        alt: "Java Spring Data JPA: Bases de datos certificate",
        tags: [TAGS.aws],
        imageClass: "",
        externalLink:"https://platzi.com/p/ricardoduvalmolinacoronel/curso/7825-java-spring-data/diploma/detalle/"
    },
    {
        title: t.achievements.dockerPlatzi.title,
        subtitle: t.achievements.dockerPlatzi.subtitle,
        date: t.achievements.dockerPlatzi.date,
        description: t.achievements.dockerPlatzi.description,
        image: "/achievements/docker_platzi.webp",
        alt: "Docker Fundamentos certificate",
        tags: [TAGS.aws],
        imageClass: "",
        externalLink:"https://platzi.com/p/ricardoduvalmolinacoronel/curso/8781-docker-fundamentos/diploma/detalle/"
    },
    {
        title: t.achievements.kubernetesPlatzi.title,
        subtitle: t.achievements.kubernetesPlatzi.subtitle,
        date: t.achievements.kubernetesPlatzi.date,
        description: t.achievements.kubernetesPlatzi.description,
        image: "/achievements/kubernetes_platzi.webp",
        alt: "Kubernetes certificate",
        tags: [TAGS.aws],
        imageClass: "",
        externalLink:"https://platzi.com/p/ricardoduvalmolinacoronel/curso/11421-course/diploma/detalle/"
    }
]
---

<ul>
    {
        achievements.map(achievement => (
            <li class="lg:py-12 py-10">
                <AchievementItem {...achievement}/>
            </li>
        ))
    }
</ul>