---
import { TAGS } from "./TAGS.astro"
import EducationItem from "./EducationItem.astro"
import { useTranslations, getLangFromUrl } from '../utils/i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const educations = [
{
        title: t.education.masterUnir.title,
        subtitle: t.education.masterUnir.subtitle,
        date: t.education.masterUnir.date,
        description: t.education.masterUnir.description,
        image: "/logos/unir.webp",
        alt: "Unir",
        imageClass: "lg:w-90 w-60",
        link:"/",
        externalLink: "https://www.unir.net/ingenieria/master-inteligencia-artificial/"
    },
    {
        title: t.education.espol.title,
        subtitle: t.education.espol.subtitle,
        date: t.education.espol.date,
        description: t.education.espol.description,
        image: "/logos/espol1.webp",
        alt: "ESPOL",
        imageClass: "lg:w-90 w-60",
        link:"/",
        externalLink: "https://www.fiec.espol.edu.ec/en/undergraduate-programs/computer-science"
    },
    {
        title: t.education.highSchool.title,
        subtitle: t.education.highSchool.subtitle,
        date: t.education.highSchool.date,
        description: t.education.highSchool.description,
        image: "/logos/santistevan.webp",
        alt: "Santistevan",
        imageClass: "lg:w-50 w-16",
        link:"/",
        externalLink: "https://santistevan.edu.ec/"
    }
]

---

<ol class="relative border-s border-[var(--primary-black)] dark:border-gray-200 lg:ml-4">
    {
        educations.map(education => (
        <li class="lg:mb-10 mb-5 ms-4">
        <EducationItem {...education}/>

        </li>
        ))
    }               

</ol>