---
import { TAGS } from "./TAGS.astro"
import EducationItem from "./EducationItem.astro"
const educations = [
{
        title: "Máster en Inteligencia Artificial (Cursando)",
        subtitle: "UNIR - Universidad Internacional de la Rioja",
        date: "Jun 2025 - Sep. 2026",
        description: `Durante mi formación en el Máster
         Oficial en Inteligencia Artificial, adquiriré una
          preparación integral en las cinco áreas fundamentales 
          de la disciplina con mayor impacto en entornos reales. 
          El programa abarca el aprendizaje automático, orientado 
          al desarrollo de sistemas capaces de aprender a partir de 
          datos; el aprendizaje profundo, basado en redes neuronales para 
          el reconocimiento de voz e imágenes; el procesamiento del lenguaje natural
          , enfocado en la comprensión del lenguaje humano; la visión por computador, para 
          el análisis automatizado de imágenes y vídeos; y la planificación algorítmica, 
          aplicada a la toma de decisiones y la optimización de procesos. Esta formación 
          me permitirá desarrollar soluciones inteligentes, automatizar tareas complejas y
         contribuir a mejorar la experiencia humana en distintos contextos tecnológicos.`,
        image: "/logos/unir.webp",
        alt: "Unir",
        imageClass: "lg:w-90 w-60",
        link:"/",
        externalLink: "https://www.unir.net/ingenieria/master-inteligencia-artificial/"
    },
    {
        title: "Ingeniero en Ciencias Computacionales",
        subtitle: "ESPOL - Escuela Superior Politécnica del Litoral",
        date: "May. 2020 - Feb. 2025",
        description: "Durante mi formación como Ingeniero en Ciencias de la Computación en ESPOL, adquirí una preparación integral en distintas áreas del desarrollo de software y las tecnologías de la información. Esta formación me permitió desarrollar un dominio sólido de la Programación Orientada a Objetos y las Estructuras de Datos, fundamentales para crear soluciones escalables y sostenibles. Asimismo, fortalecí mis conocimientos en Diseño de Software y Sistemas de Bases de Datos, competencias clave para construir aplicaciones eficientes y confiables. A través de materias como Programación de Sistemas, Sistemas Operativos y Análisis de Algoritmos, perfeccioné mi capacidad para diseñar sistemas de alto rendimiento y optimización. También incursioné en el desarrollo web y móvil, adquiriendo experiencia en la creación de interfaces funcionales y adaptativas. La Seguridad de la Información formó parte esencial de mis estudios, brindándome las herramientas necesarias para salvaguardar datos y sistemas. El aprendizaje de diversos Lenguajes de Programación me permitió adaptarme a distintos entornos tecnológicos. Además, profundicé en áreas como Ingeniería de Software, Inteligencia Artificial, Sistemas Distribuidos y Computación en la Nube, que me proporcionaron una visión completa sobre el diseño de soluciones inteligentes y distribuidas. Finalmente, mi formación incluyó la Gestión de Proyectos de TI y Sistemas de Información, lo que me preparó para liderar iniciativas tecnológicas y gestionar eficazmente los recursos informáticos en contextos organizacionales.",
        image: "/logos/espol1.webp",
        alt: "ESPOL",
        imageClass: "lg:w-90 w-60",
        link:"/",
        externalLink: "https://www.fiec.espol.edu.ec/en/undergraduate-programs/computer-science"
    },
    {
        title: "Bachiller en Sistemas",
        subtitle: "Unidad Educativa Jose Domingo de Santistevan",
        date: "Abr. 2017 - Ene. 2020",
        description: `Durante mi formación como Bachiller en Sistemas, adquirí una
         base sólida en diversas áreas clave del desarrollo de software y las tecnologías
          de la información. Estudié los principios de la programación imperativa y orientada
           a objetos, así como fundamentos de redes y sistemas de bases de datos, 
           lo que me permitió desarrollar una comprensión integral y aplicada del 
        proceso de construcción de soluciones informáticas eficientes y estructuradas.
        `,
        image: "/logos/santistevan.webp",
        alt: "Santistevan",
        imageClass: "lg:w-20 w-16",
        link:"/",
        externalLink: "https://santistevan.edu.ec/"
    }
]

---

<ol class="relative border-s border-gray-200 dark:border-gray-200 lg:ml-4">
    {
        educations.map(education => (
        <li class="lg:mb-10 mb-5 ms-4">
        <EducationItem {...education}/>

        </li>
        ))
    }               

</ol>