
---
import SwiftIcon from "../icons/technologies/Swift.astro"
import SwiftUIIcon from "../icons/technologies/SwiftUI.astro"
import UIkitIcon from "../icons/technologies/UIkit.astro"
import KotlinIcon from "../icons/technologies/Kotlin.astro"
import XamarinIcon from "../icons/technologies/Xamarin.astro"
import AndroidStudioIcon from "../icons/technologies/AndroidStudio.astro"
import XCodeIcon from "../icons/technologies/XCode.astro"
import CSharpIcon from "../icons/technologies/CSharp.astro"
import ExperienceItem from "./ExperienceItem.astro"
const TAGS = {
    swift : {
        name: "Swift",
        class: "bg-white/30",
        icon: SwiftIcon,
        size: "size-6"
    },
    swiftUI : {
        name: "SwiftUI",
        class: "bg-white/30",
        icon: SwiftUIIcon,
        size: "size-6 scale-[1.3]"
    },
    kotlin: {
        name: "Kotlin",
        class: "bg-white/30",
        icon: KotlinIcon,
        size: "size-6"
    },
    uikit: {
        name: "UIKit",
        class: "bg-white/30",
        icon: UIkitIcon,
        size: "size-6"
    },
    xamarin: {
        name: "Xamarin",
        class: "bg-white/30",
        icon: XamarinIcon,
        size: "size-6"
    },
    androidStudio: {
        name: "Android Studio",
        class: "bg-white/30",
        icon: AndroidStudioIcon,
        size: "size-6"
    },
    xcode: {
        name: "XCode",
        class: "bg-white/30",
        icon: XCodeIcon,
        size: "size-6"
    },
    csharp: {
        name: "C#",
        class: "bg-white/30",
        icon: CSharpIcon,
        size: "size-6"
    }
}
const experiences = [
    {
        title: "Banco del Pacífico - Desarrollador móvil",
        date: "Mayo 2025 - Actualidad",
        description: "Migración de aplicación móvil Intranet para funcionarios del banco de su versión en Xamarin a su versión en Swift y SwiftUI para dispositivos iOS",
        image: "/logos/bdp.png",
        alt: "Banco del Pacífico",
        tags: [TAGS.swift, TAGS.swiftUI, TAGS.kotlin, TAGS.xcode, TAGS.androidStudio, TAGS.uikit, TAGS.csharp, TAGS.xamarin]
    },
    {
        title: "RetailPoint del Ecuador - Desarrollador de aplicaciones",
        date: "February 2022",
        description: "Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.",
        image: "/logos/retailpoint.png",
        alt: "RetailPoint",
        tags: [TAGS.swift]
    },
    {
        title: "Application UI code in Tailwind CSS",
        date: "February 2022",
        description: "Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.",
        image: "/logos/espol_logo.jpg",
        alt: "ESPOL",
        tags: [TAGS.swift]
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-200 ml-4">
    {
        experiences.map(experience => (
        <li class="mb-10 ms-4">
        <ExperienceItem {...experience}/>
        <h4 class="text-lg font-semibold text-gray-900 dark:text-gray-100 mt-7 mb-4">Tecnologías
            <div class="h-[2px] bg-gray-300 dark:bg-gray-300 w-1/16 mb-2"></div>
        </h4>
        <ul class="flex flex-row flex-wrap gap-2 mt-2">{
            experience.tags.map((tag) => (
                <li>
                    <span class={`flex items-center gap-x-2 text-sm rounded-full px-4 py-1 cursor-crosshair ${tag.class}`}>
                        <tag.icon class={tag.size} />
                        {tag.name}

                    </span>
                </li>
            ))
            }</ul>
        </li>
        ))
    }               

</ol>

