
---

import ExperienceItem from "./ExperienceItem.astro"
import { TAGS } from "./TAGS.astro"
import { useTranslations, getLangFromUrl } from '../utils/i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const experiences = [
    {
        title: t.experience.bdp.title,
        subtitle: t.experience.bdp.subtitle,
        date: t.experience.bdp.date,
        description: t.experience.bdp.description,
        image: "/logos/bdp.png",
        externalLink: "https://www.bancodelpacifico.com/",
        alt: "Banco del Pacífico",
        tags: [TAGS.swift, TAGS.swiftUI, TAGS.kotlin, TAGS.jetpackCompose, TAGS.xcode, TAGS.androidStudio,TAGS.uikit,
         TAGS.csharp, TAGS.xamarin, TAGS.webkit, TAGS.gitlab, TAGS.azureDevops, TAGS.figma
            
        ]
    },
    {
        title: t.experience.retailPoint.title,
        subtitle: t.experience.retailPoint.subtitle,
        date: t.experience.retailPoint.date,
        description: t.experience.retailPoint.description,
        image: "/logos/retailpoint.webp",
        externalLink: "https://www.retailpointecuador.com/",
        alt: "RetailPoint",
        tags: [TAGS.java, TAGS.kotlin, TAGS.jetpackCompose,TAGS.androidStudio, TAGS.react, TAGS.reactRouter, TAGS.node
        , TAGS.python, TAGS.javascript, TAGS.typescript, TAGS.firebase,TAGS.firestore, TAGS.express
        , TAGS.asana, TAGS.git, TAGS.github, TAGS.docker, TAGS.githubActions, TAGS.jest, TAGS.sqlite, TAGS.mysql,
         TAGS.redux, TAGS.linux, TAGS.sass, TAGS.CSS, TAGS.HTML, TAGS.vite, TAGS.tailwindCSS, TAGS.dotenv, TAGS.pycharm, TAGS.npm,
        TAGS.jwt, TAGS.figma]
    },
    {
        title: t.experience.espol.title,
        subtitle: t.experience.espol.subtitle,
        date: t.experience.espol.date,
        description: t.experience.espol.description,
        image: "/logos/espol_logo_blue.webp",
        externalLink: "https://www.espol.edu.ec/en",
        alt: "ESPOL",
        tags: [TAGS.tensorflow, TAGS.scikitLearn, TAGS.pytorch, TAGS.python, TAGS.Django, TAGS.postgresql, TAGS.sqlite, TAGS.git,
            TAGS.github, TAGS.pycharm, TAGS.figma
        ]
    },
    {
        title: t.experience.contabilly.title,
        subtitle: t.experience.contabilly.subtitle,
        date: t.experience.contabilly.date,
        description: t.experience.contabilly.description,
        image: "/logos/contabilly.jpeg",
        alt: "Contabilly",
        externalLink: "https://contabilly.com/",
        tags: [TAGS.react, TAGS.reactnative, TAGS.reactRouter, TAGS.node, TAGS.javascript, TAGS.typescript, TAGS.firebase,TAGS.firestore, TAGS.express
        ,TAGS.asana, TAGS.git, TAGS.github, TAGS.githubActions, TAGS.jest, TAGS.sqlite, TAGS.mysql,
         TAGS.redux, TAGS.sass, TAGS.CSS, TAGS.HTML, TAGS.vite, TAGS.dotenv, TAGS.npm,
        TAGS.jwt, TAGS.figma]
    }
]
---
<ol class="relative border-s border-[var(--primary-black)] dark:border-gray-200 lg:ml-4 ">
    {
        experiences.map(experience => (
        <li class="mb-10 ms-4">
        <ExperienceItem {...experience}/>
        <h4 class="lg:text-lg text-base font-semibold text-[var(--primary-black)] dark:text-gray-100 mt-7 mb-4">{t.technologiesSTR}
            <div class="h-[2px] bg-[var(--primary-black)] dark:bg-gray-300 w-1/16 mb-2"></div>
        </h4>
        <ul class="flex flex-row flex-wrap gap-2 mt-2">{
            experience.tags.map((tag, index) => (
                <li>
                    <span class={`fade-tag opacity-0 translate-y-3 transition-all duration-1000 ease-out flex items-center gap-x-2 lg:text-sm text-xs rounded-full px-4 py-1 cursor-crosshair ${tag.class}`}
                    style={`transition-delay: ${index * 100}ms`}
                    >
                        <tag.icon class={tag.size} />
                        {tag.name}
                    </span>
                </li>
            ))
            }</ul>
        </li>
        ))
    }               

</ol>

