---
import NavLink from "./NavLink.astro";
---

<header class="sticky top-0 z-50 backdrop-blur flex justify-between items-center py-3 w-[1120px] mt-3 mx-auto">
    <span class="flex text-2xl font-extrabold">Ricardo Molina</span>
    <nav class="flex flex-row gap-x-10 opacity-90">
        <NavLink href="#">Inicio</NavLink>
        <NavLink href="#experience">Experiencia</NavLink>
        <NavLink href="#projects">Proyectos</NavLink>
        <NavLink href="#contact">Contacto</NavLink>
    </nav>
</header>
