---
import NavLink from "./NavLink.astro";
---

<header class="flex justify-center items-center py-3 w-[1120px] mt-3">
    <div class="flex flex-col">
    <span class="flex text-2xl font-bold mb-5 justify-center items-center">Ricardo Molina</span>
    <nav class="flex flex-row gap-x-10 opacity-90">
        <NavLink href="#">Home</NavLink>
        <NavLink href="#">About</NavLink>
        <NavLink href="#">Projects</NavLink>
        <NavLink href="#">Contact</NavLink>
    </nav>
    </div>
</header>