---
import GradientButton from "./GradientButton.astro";
import AwardIcon from "../icons/Award.astro"
import ArrowRightIcon from "../icons/ArrowRight.astro"
import ChevronIcon from "../icons/Chevron.astro";
import { TAGS } from "./TAGS.astro"
import { useTranslations, getLangFromUrl } from '../utils/i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
    link: string;
    label: string;
    gradient: string;
    className: string
} 

const {  link, label, gradient, className } = Astro.props;
---



    <a href={link} class={`group relative ${className}`}>

        <div class="relative border dark:border-blue-300 border-[var(--blue-300)] dark:hover:border-gray-400 hover:border-gray-700 px-2 lg:px-4 py-2 rounded-full text-center  font-medium active:scale-110 transition-transform hover:animate-pulse overflow-hidden lg:w-100 w-80">
            <span class="relative flex items-center justify-center  z-20">{t.mainButtonText}</span>
            <span class="absolute top-1/2 -left-5 -translate-y-1/2 w-5 h-5 z-12 transition-all group-hover:translate-x-120 duration-500">
                <ChevronIcon class="text-gray-100 size-5" />
              </span>
            <span class="absolute inset-0 w-full h-full transition duration-300 z-10 ease-out transform scale-0 origin-left bg-gradient-to-r dark:from-gray-800 dark:to-gray-600 from-gray-200 to-gray-300 group-hover:scale-100 rounded-lg"></span>
            <div class="absolute left-0 top-1/2 -translate-y-1/2 w-10 h-10 group-hover:translate-x-88
            transition-all duration-1500 bg-gradient-to-r dark:from-blue-500 from-[var(--blue-300)] dark:to-blue-300 to-blue-400 dark:group-hover:from-gray-300 dark:group-hover:to-gray-500 group-hover:from-gray-500 group-hover:to-gray-600  clip-triangle z-15 shadow-2xl">
            </div>
        </div>


 

      </a>



      <style>
        .clip-triangle {
          clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
        }
        .clip-triangle-shadow {
          clip-path: polygon(0% 0%, 100% 65%, 0% 100%);
        }
      </style>