---
// NavLink.astro
const { href} = Astro.props;
---
<a href={href} 
class="hover:overline hover:scale-110 hover:font-bold dark:hover:text-blue-300 hover:text-blue-800 transition-all duration-200">
  <slot />
</a>
