---
// Props
const { label } = Astro.props;
---

<div class="fixed left-0 top-1/2 -translate-y-1/2 z-50 hidden lg:block">
  <div class="text-sm tracking-widest font-bold rotate-[-90deg] origin-left pl-4 text-gray-500 transition-all duration-300">
    {label}
  </div>
</div>
