---
interface Props {
    divClass: String;
}

const { divClass } = Astro.props;
---
<div  class={`rounded-2xl lg:px-4 px-2 lg:py-2 py-1 border border-[var(--primary-black)] dark:border-[var(--primary-white)] flex items-center gap-2
cursor-crosshair lg:w-135 w-full  dark:bg-white/20 bg-gray-100/90 backdrop-blur-2xl ${divClass}`}
>
    <slot />
</div>