---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GitHubIcon from '../icons/GitHub.astro';
import ReactIcon from '../icons/React.astro';
import AstroIcon from '../icons/Astro.astro';
import DeskIcon from '../icons/Desk.astro';
import MainIcons from './MainIcons.astro';
import ToolPills from './ToolsPill.astro';
import Experience from './Experience.astro';
import SectionContainer from './SectionContainer.astro';
import CodeIcon from '../icons/Code.astro';
import Projects from './Projects.astro';
import Education from './Education.astro';
import Contact from './Contact.astro';
---

<div id="container">
	<main class="px-2">
		<SectionContainer class="pt-25 lg:pt-44 min-h-[calc(100vh-12rem)] flex flex-col-reverse lg:flex-row lg:justify-between items-center">
		<div class="flex flex-col justify-center items-center gap-3">
			<h1 class="lg:text-5xl text-3xl font-bold text-center">
			Soy Ricardo Molina,
		</h1>
		<h2 class="lg:text-2xl text-xl text-center text-wrap">
			Ingeniero en Ciencias Computacionales con <span class="text-blue-300/90">experiencia en el 
			desarrollo fullstack, móvil e inteligencia artificial</span>
		</h2>
		<div class="flex gap-3">
			<MainIcons href="https://github.com/RicardoMolinaCoronel">
				<GitHubIcon class="size-8"/>	
			</MainIcons>
			<MainIcons href="https://www.linkedin.com/in/ricardo-duval-molina-coronel">
				<LinkedInIcon class="size-8"/>	
			</MainIcons>
			<!-- <ToolPills name="Astro">
				<AstroIcon class="w-8 h-8 hover:scale-120 transition-all duration-300"/>	
			</ToolPills> -->

	</div>
		<a href="/" 
		class="text-center 
			border border-blue-300 px-4 py-2 rounded-full w-72
			transition-all duration-300 hover:bg-blue-300 hover:text-black"
			>Construyamos algo juntos</a>
	</div>
		<img src="me.webp" alt="imagen ricardo molina" class="rounded-full object-cover w-92 h-92 mb-10 lg:mb-0">
</SectionContainer>
	<SectionContainer id="experience" class="py-44">
		<h2 class="flex flex-col lg:flex-row gap-2 pb-3 lg:gap-5 text-3xl font-semibold text-center justify-center items-center lg:justify-start mb-5">
			<DeskIcon class="size-8"/>
			Experiencia</h2>
		<Experience />
	</SectionContainer>

	<SectionContainer id="projects" class="py-44">
		<h2 class="flex flex-col lg:flex-row gap-2 pb-3 lg:gap-5 text-3xl font-semibold text-center justify-center items-center lg:justify-start mb-5">
			<CodeIcon class="size-8"/>
			Proyectos</h2>
		<Projects />
	</SectionContainer>

	<SectionContainer id="education" class="py-44">
		<h2 class="flex flex-col lg:flex-row gap-2 pb-3 lg:gap-5 text-3xl font-semibold text-center justify-center items-center lg:justify-start mb-5">
			<CodeIcon class="size-8"/>
			Educación</h2>
		<Education />
	</SectionContainer>

	<SectionContainer id="contact" class="py-44">
		<h2 class="flex flex-col lg:flex-row gap-2 pb-3 lg:gap-5 text-3xl font-semibold text-center justify-center items-center lg:justify-start mb-5">
			<CodeIcon class="size-8"/>
			Contacto</h2>
		<Contact />
	</SectionContainer>
	</main>
</div>


