---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<main>
		<section class="w-full mx-auto lg:w-[1120px] py-44 flex justify-between items-center">
		<div class="flex flex-col justify-center items-center gap-3">
			<h1 class="text-5xl font-bold text-center">
			Soy Ricardo Molina,
		</h1>
		<h2 class="text-center">
			Ingeniero en Ciencias Computacionales con experiencia en el 
			desarrollo fullstack, móvil e inteligencia artificial
		</h2>
		<a href="#" 
		class="text-center 
			border border-blue-300 px-4 py-2 rounded-full w-72
			transition-all duration-300 hover:bg-blue-300 hover:text-black"
			>Construyamos algo juntos</a>
	</div>
		<img src="me.webp" alt="imagen ricardo molina" class="rounded-full object-cover w-92 h-92">
	</section>
	</main>
</div>


